@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Regular.eot');
    src: url('./assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('./assets/fonts/SFProDisplay-Regular.woff') format('woff'),
        url('./assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Pro Display';
   src: url('./assets/fonts/SFProDisplay-Regular.eot');
    src: url('./assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('./assets/fonts/SFProDisplay-Regular.woff') format('woff'),
        url('./assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
button{
    cursor: pointer;
}
*{
  margin: 0;
  padding: 0;
}
body{
   font-family: 'SF Pro Display';
    background-color: #F8F9FA;
}